<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="main-title" class="row">
            <h1>Recipe Selector</h1>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4 recipe-filters">
                <div class="card">
                    <!--take the selected $event assign to ingredient-->
                <ingredient-selector (select)="ingredient = $event"></ingredient-selector>
                </div>
            </div>

            <div class="col-md-8 results-listing">
                <div id="results-titles">
                    <h1>Results</h1>
                    <h5>CookTime</h5>
                    <br>
                    <br>
                </div>
                <!--for every recipe in the recipe array pass it through the ingredient filterpipe, the ingredient will be based off ingredient-selector above-->
                <div class="card" *ngFor="let recipe of recipesArray | ingredientfilter:ingredient">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-10">
                                <h3>{{recipe.name}}</h3>
                                <h5>Type: {{recipe.type}}</h5>
                                <!--adding join for spacing in array when displaying results -->
                                <p> Ingredients: {{recipe.ingredients.join(', ')}}</p>   
                            </div>

                            <div class="col-xs-2">
                                <h1>{{recipe.cook_time}}</h1>min
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>


