p, a, h1, h2, h3, h4, h5, h6 {
  padding: 0rem;
  margin: 0rem;
  font-family: avenir; }

body, html {
  background-color: #F9F9F9;
  height: 100vh; }
  body .container, html .container {
    padding-top: 2rem; }
    body .container #main-title, html .container #main-title {
      font-weight: lighter;
      letter-spacing: 2px; }
    body .container .results-listing, html .container .results-listing {
      height: 500px;
      background-color: #ECEBEB;
      overflow: scroll;
      padding: 10px;
      -webkit-box-shadow: 0px 2px 18px -2px rgba(0, 0, 0, 0.34);
      -moz-box-shadow: 0px 2px 18px -2px rgba(0, 0, 0, 0.34);
      box-shadow: 0px 2px 18px -2px rgba(0, 0, 0, 0.34); }
      body .container .results-listing #titles h1, html .container .results-listing #titles h1 {
        float: left; }
      body .container .results-listing #titles h5, html .container .results-listing #titles h5 {
        float: right;
        padding-top: .8rem;
        padding-right: 2rem;
        font-weight: lighter; }
      body .container .results-listing .card, html .container .results-listing .card {
        opacity: 1;
        animation: fade 2s linear;
        -o-animation: fade 2s linear;
        -moz-animation: fade 2s linear;
        -webkit-animation: fade 2s linear; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    body .container .card-block, html .container .card-block {
      background-color: #F9F9F9; }
      body .container .card-block h1, html .container .card-block h1 {
        color: #52B6B5; }
