p, a, h1,h2,h3,h4,h5,h6 {
    padding: 0px;
}
.results-listing {
    height:500px;
    background-color:#1A545F;
    overflow:scroll;
     padding:10px;
}
.recipe-filters {
    background-color:#EED9C1;
   
}

.card-block {
    background-color: #EDE8DC;
}
.card-block h1 {
    color: #52B6B5;
}
body, html {
    background-color:#25211D;
    height: 100vh;
}